extends layout

block content
	- var thumbnailSize="300x300"
	if (item.gridLength == 2)
		- thumbnailSize = "600x300"
	if (item.gridLength == 3)
		- thumbnailSize = "900x300"
	header
		.header-content
			.header-content__top
				span.back-arrow
					a(href=`http://${baseUrl}/edit`) &larr;
				h1
					a(href=`http://${baseUrl}`)=siteTitle
				.menu-container
					span.menu-icon &#x2630;
					ul.menu.hide
						li
							a(href='./#portfolio-overview') Portfolio
						li
							a(href='#') About
						li
							a(href='#') Contact
	main
		form(method='post', enctype='multipart/form-data')
			.edit-areas
				h3 Main Piece
				.edit-portfolio-piece
					label Title
						input(name='title', type='text', value=item.title)
					label Short Blurb
						input(name='shortDescription', type='text', value=item.shortDescription)
					label Description
						textarea(name='description')
							| #{item.description}
					label Main Image (1280x720)
						input(name='image', type='file')
					label=`Thumbnail Image (${thumbnailSize})`
						input(name='thumbnail', type='file')
					label Vimeo URL (Overrides Main Image)
						input(name='videoURL' type='text', item.videoURL)
				h3 Gallery Items
				.edit-gallery
					.portfolio-items
						each galleryItem, key in item.gallery
							div.grid-1(data-gallery-index=key)
								a
									img(src=`http://${baseUrl}/images/gallery/thumbnails/${galleryItem.thumbnail}`)
									.portfolio-text
										h4 Delete
					.add-gallery-item
						.add-gallery-item-inputs
						button.primary.add Add
			.form-actions
				button.save.primary Save
				input.reset.secondary(type='reset', value='Reset')
